html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }

::-webkit-input-placeholder {
   text-align: center;
}

#searchBox {
  max-width: 640px;
  padding-left: 2px;
  padding-right: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  border-radius: 3px;
  z-index: 92;
  position: fixed;
  top: 25px;
  left: 15px;
  background-color: #FFFFFF;
}



#filterBox {
  max-width: 400px;
  padding-left: 2px;
  padding-right: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  border-radius: 3px;
  z-index: 92;
  position: fixed;
  top: 65px;
  left: 15px;
  background-color: #FFFFFF;
}


#listBox {
  max-width: 400px;
  padding-left: 2px;
  padding-right: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  border-radius: 3px;
  z-index: 102;
  position: fixed;
  top: 105px;
  left: 15px;
  background-color: #FFFFFF;
}

.list-heading h2 {
  font-family: 'Ubuntu', sans-serif;
  display: inline;
  vertical-align: center;
  font-size: 27px;
}

.list-details {
  font-size: 13px;
  font-family: 'Ubuntu', sans-serif;
  color: #333;
  list-style: none;
  max-width: 300px;
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.list-details li:hover {
  background-color: #FFF3E0;
}

.list-details li:active {
  background-color: #FFD180;
}

.list-details::-webkit-scrollbar {
  width: 10px;
  overflow: visible;
}

.list-group-item-heading {
  font-weight: bold;
  font-size: 15px;
  color: #404040;
}

.list-group-item-category,
.list-group-item-address,
.list-group-item-rating {
  margin-bottom: 10px;
}

.infowindow {
  width: 250px;
  font-size: 12px;
}

.v-name {
  font-weight: bold;
  font-size: 15px;
  color: #404040;
}

p.v-category,
p.v-address,
p.v-contact
p.v-tip {
  margin-bottom: 10px;
}

.v-url {
  color: #4272db;
  text-decoration: none;
}

@media (max-width: 900px) {
  #listBox {
    max-width: 90%;
    position: fixed;
    top: 305px;
    bottom: 15px;
    left: 15px;
  }
  .list-heading h2 {
  font-size: 17px;
  }
  .list-group-item-heading {
  font-weight: bold;
  font-size: 12px;
  }
  .list-details {
    font-size: 10px;
    max-width: 90%;
    height: 100px;
    overflow-y: scroll;
  }
  .infowindow {
  width: 100px;
  font-size: 10px;
  }
  p.v-tip {
   display: none;
  }
}
